<h1><%= link_to 'infravironment', home_index_path %></h1>


<% if current_user then %>
<%= link_to 'Add Hashtag', new_hashtag_path %>

<%= form_tag(update_tweets_path) do -%>
  <div align='center'><%= submit_tag 'Update Tweets' %></div>
<% end -%>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
  </tr>

<% @hashtags.each do |hashtag| %>
  <tr>
    <td><%= hashtag.name %></td>
    <td><%= hashtag.category %></td>
    <% if current_user then %>
    <td><%= link_to 'Edit', edit_hashtag_path(hashtag) %></td>
    <td><%= button_to 'Destroy', hashtag, confirm: 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
