<div id='nav' style='display:none'>
<% if current_user then %>
	<p style="position:relative;left:300px"><span id="clear"><%= submit_tag 'Clear Tags' %></span> <span><%= link_to "Hashtags", hashtags_path %></span> | <span><%= link_to "Logout", logout_path %></span></br>
	<p id="notice"><%= notice %><span align='right'><%= current_user.email %></span></p</p>
	<% if mobile_device? %> 
			<%= link_to "Full Site", :mobile => 0 %> 
		<% else %> 
			<%= link_to "Mobile Site", :mobile => 1 %> 
		<% end %>
<% else %>
   <p style="position:relative;left:300px"><span id="clear"><%= submit_tag 'Clear Tags' %></span> <span><%= link_to 'Login', new_session_path %></span> | <span><%= link_to 'Signup', signup_path %></span></br>
	<p id="notice"><%= notice %></p></p>
<% end %>
</div>



<script>
$("span#clear").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.
									    $("div#tweets11").hide('fast', function() {
										   // Animation complete.
													    $("div#tweets12").hide('fast', function() {
														   // Animation complete.
													});
						});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>