<div id='creds'><%= render :partial => 'creds' %></div>
<div id="wrapper">

	<p style="position:absolute;top:650px;left:30px"><font face="arial" size="1">Disclaimer: Use </br> constitutes acceptance that </br> the owner of this site cannot </br> guarantee and shall under </br> no circumstances be held </br> responsible for the local </br> recombination of any request, </br> cache, password, readout, </br> email, policy, input, </br> file, identity, service, </br> download, agreement, tracking, </br> session, product, logon, </br> or chat that is </br> transmitted in packets.</font></p>
    <p style="position:absolute;left:30px;top:1100px"><font face="arial" size="1">C Eric D. 2011</font></p>

	
	<div id="sidebar">
		<span id='one' class="r1"></span></br>
		<span id='two' class="r2"></span></br>
		<span id='three' class="r1"></span></br>
		<span id='four' class="r2"></span></br>
		<span id='five' class="r1"></span></br>
		<span id='six' class="r2"></span></br>
		<span id='seven' class="r1"></span></br>
		<span id='eight' class="r2"></span></br>
		<span id='nine' class="r1"></span></br>
		<span id='ten' class="r2"></span></br>
		<span id='eleven' class="r1"></span></br>
		<span id='twelve' class="r2"></span></br>
	</div>

	<div id="content">
		<div id='tweets1' style="display:none"><%= render :partial => 'tweets1' %></div>
		<div id='tweets2' style="display:none"><%= render :partial => 'tweets2' %></div>
		<div id='tweets3' style="display:none"><%= render :partial => 'tweets3' %></div>
		<div id='tweets4' style="display:none"><%= render :partial => 'tweets4' %></div>
		<div id='tweets5' style="display:none"><%= render :partial => 'tweets5' %></div>
		<div id='tweets6' style="display:none"><%= render :partial => 'tweets6' %></div>
		<div id='tweets7' style="display:none"><%= render :partial => 'tweets7' %></div>
		<div id='tweets8' style="display:none"><%= render :partial => 'tweets8' %></div>
		<div id='tweets9' style="display:none"><%= render :partial => 'tweets9' %></div>
		<div id='tweets10' style="display:none"><%= render :partial => 'tweets10' %></div>
		<div id='tweets11' style="display:none"><%= render :partial => 'tweets11' %></div>
		<div id='tweets12' style="display:none"><%= render :partial => 'tweets12' %></div>
	</div>
</wrapper>