<div id="wrapper">
	<div id="header"> 
		  <span id="clear"><div style="position:relative;left:450px;top:120px"><%= submit_tag 'Clear Tags' %></div></span>
		<h1 style="position:relative;left:20px;top:30px"><font face="arial">infravironment</font></h1>
			<p style="position:relative;left:220px;top:5px"><font face="arial" size="1">Trademark</font></p>
		<font face="arial"><div style="position:relative;left:20px">Building Life Cycle Site</div></font>
		<hr>
	</div>
	<p style="position:absolute;top:700px;left:120px"><font face="arial" size="1">Disclaimer: Use constitutes acceptance that the owner of this site cannot guarantee and shall under no circumstances be held responsible for the local recombination </br> of any request, cache, password, readout, email, policy, input, file, identity, service, download, agreement, tracking, session, product, logon, or chat that is transmitted in packets.</font></p>

	<p style="position:absolute;left:220px;top:800px"><font face="arial" size="1">C Eric D. 2011</font></p>

	
	<div id="sidebar">
		<span id='one'><div id="r1"></div></span></br>
		<span id='two'><div id="r2" style="position:relative;top:-15px"></div></span></br>
		<span id='three'><div id="r3"></div></span></br>
		<span id='four'><div id="r4" style="position:relative;top:-15px"></div></span></br>
		<span id='five'><div id="r5"></div></span></br>
		<span id='six'><div id="r6" style="position:relative;top:5px"></div></span></br>
		<span id='seven'><div id="r7"></div></span></br>
		<span id='eight'><div id="r8" style="position:relative;top:-15px"></div></span></br>
		<span id='nine'><div id="r9"></div></span></br>
		<span id='ten'><div id="r10" style="position:relative;top:-15px"></div></span></br>
		<span id='eleven'><div id="r11"></div></span></br>
		<span id='twelve'><div id="r12" style="position:relative;top:-15px"></div></span></br>
	</div>

	<div id="content">
		<div id='tweets1' style="display:none"><%= render :partial => 'tweets1' %></div>
		<div id='tweets2' style="display:none"><%= render :partial => 'tweets2' %></div>
		<div id='tweets3' style="display:none"><%= render :partial => 'tweets3' %></div>
		<div id='tweets4' style="display:none"><%= render :partial => 'tweets4' %></div>
		<div id='tweets5' style="display:none"><%= render :partial => 'tweets5' %></div>
		<div id='tweets6' style="display:none"><%= render :partial => 'tweets6' %></div>
		<div id='tweets7' style="display:none"><%= render :partial => 'tweets7' %></div>
		<div id='tweets8' style="display:none"><%= render :partial => 'tweets8' %></div>
		<div id='tweets9' style="display:none"><%= render :partial => 'tweets9' %></div>
		<div id='tweets10' style="display:none"><%= render :partial => 'tweets10' %></div>
		<div id='tweets11' style="display:none"><%= render :partial => 'tweets11' %></div>
		<div id='tweets12' style="display:none"><%= render :partial => 'tweets12' %></div>
	</div>
</wrapper>


<script>
$("span#one").hover(
  function () {
    $("div#tweets1").show('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
	    // Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
			    $("div#tweets10").hide('fast', function() {
				   // Animation complete.
					    $("div#tweets11").hide('fast', function() {
						   // Animation complete.
								    $("div#tweets12").hide('fast', function() {
									   // Animation complete.
								});
					});
			});
		});
	});
	});
	});
  	});	
  	});
  	});
  	});
  	});
});
</script>

<script>
$("span#two").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").show('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
	    $("div#tweets8").hide('fast', function() {
		   // Animation complete.
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
					    $("div#tweets10").hide('fast', function() {
						   // Animation complete.
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
	});
  	});
  	});				
  	});
  	});
  	});
});
</script>

<script>
$("span#three").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").show('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
	});
  	});
  	});				
  	});
  	});
  	});
});
</script>

<script>
$("span#four").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").show('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.  
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
	});
  	});
	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#five").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").show('fast', function() {
		// Animation complete.  
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
	$("div#tweets7").hide('fast', function() {
	    // Animation complete.
    $("div#tweets8").hide('fast', function() {
		// Animation complete.
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
	});
  	});
	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#six").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").show('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#seven").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").show('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#eight").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").show('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#nine").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").show('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#ten").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").show('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#eleven").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").show('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#twelve").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").show('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>

<script>
$("span#clear").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.
									    $("div#tweets11").hide('fast', function() {
										   // Animation complete.
													    $("div#tweets12").hide('fast', function() {
														   // Animation complete.
													});
						});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>