<div id="wrapper">
	<div id="header"> 
		<%= form_tag(update_tweets_path) do -%>
		  <div align='right'><%= submit_tag 'Update Tweets' %></div>
		<% end -%>
		<h1><font face="arial">infravironment</h1><p style="position:absolute;top:-10px;left:230px">
		<div>Building Life Cycle Site</div></font>
		<hr>
	</div>

	
	<div id="sidebar">
		<span id='one'><div id="r1"></div></span></br>
		<span id='two'><div id="r2"></div></span></br>
		<span id='three'><div id="r3"></div></span></br>
		<span id='four'><div id="r4"></div></span>
	</div>

	<div id="content">
		<div id='tweets1'style="display:none"><%= render :partial => 'tweets1' %></div>
		<div id='tweets2' style="display:none"><%= render :partial => 'tweets2' %></div>
		<div id='tweets3' style="display:none"><%= render :partial => 'tweets3' %></div>
		<div id='tweets4' style="display:none"><%= render :partial => 'tweets4' %></div>
	</div>
</wrapper>

<script>
$("span#one").hover(
  function () {
    $("div#tweets1").show('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#two").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").show('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#three").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").show('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#four").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").show('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>