<%= form_tag(update_tweets_path) do -%>
  <div><%= submit_tag 'Update Tweets' %></div>
<% end -%>

<h1>infravironment</h1>
<div>Building Life Cycle Site</div>
<hr>

<%= render :partial => 'tweets1' %>
<%= render :partial => 'tweets2' %>
<%= render :partial => 'tweets3' %>
<%= render :partial => 'tweets4' %>
