<div id="wrapper">
	<div id="header"> 
		<%= form_tag(update_tweets_path) do -%>
		  <div align='right'><%= submit_tag 'Update Tweets' %></div>
		<% end -%>
		<h1 style="position:relative;left:20px;top:30px"><font face="arial">infravironment</font></h1>
			<p style="position:relative;left:220px"><font face="arial" size="1">Trademark</font></p>
		<font face="arial"><div style="position:relative;left:20px">Building Life Cycle Site</div></font>
		<hr>
	</div>
	<p style="position:absolute;top:700px;left:120px"><font face="arial" size="1">Disclaimer: Use constitutes acceptance that the owner of this site cannot guarantee and shall under no circumstances be held responsible for the local recombination </br> of any request, cache, password, readout, email, policy, input, file, identity, service, download, agreement, tracking, session, product, logon, or chat that is transmitted in packets.</font></p>

	
	<div id="sidebar">
		<span id='one'><div id="r1"></div></span></br>
		<span id='two'><div id="r2"></div></span></br>
		<span id='three'><div id="r3"></div></span></br>
		<span id='four'><div id="r4"></div></span>
	</div>

	<div id="content">
		<div id='tweets1'style="display:none"><%= render :partial => 'tweets1' %></div>
		<div id='tweets2' style="display:none"><%= render :partial => 'tweets2' %></div>
		<div id='tweets3' style="display:none"><%= render :partial => 'tweets3' %></div>
		<div id='tweets4' style="display:none"><%= render :partial => 'tweets4' %></div>
	</div>
</wrapper>

<script>
$("span#one").hover(
  function () {
    $("div#tweets1").show('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#two").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").show('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#three").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").show('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>


<script>
$("span#four").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").show('fast', function() {
		// Animation complete.
  	});				
  	});
  	});
  	});
});
</script>